@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  font-family: 'Roboto', sans-serif;
}
a {
  text-decoration: none;
  color: black;
}
.wrap {
  display: none;
  align-items: flex-start;
  flex-wrap: wrap;
  max-width: 1090px;
  margin: 0 auto;
}
.copyright {
  text-align: center;
}
#open_btn {
  color: #fff;
  border-radius: 10px;
  background: rgb(54, 187, 109);
  padding: 10px;
  margin: 50px;
}
#info_btn {
  color: #fff;
  border-radius: 10px;
  background: rgb(54, 134, 187);
  padding: 10px;
  position: absolute;
  left: 30px;
  margin-left: 30px;
}
#close_btn {
  color: #fff;
  border-radius: 10px;
  background: rgb(187, 74, 54);
  padding: 10px;
  position: absolute;
  right: 30px;
  display: none;
  margin-right: 30px;
}
h1 {
  text-align: center;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 30px;
  padding-top: 50px;
}
h2 {
  margin-top: 0;
}
ul {
  width: 700px;
  list-style: none;
}
li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 20px;
}

li:nth-child(odd) {
  background: #efefef;
}
input {
  box-sizing: border-box;
  height: 21px;
  width: 60px;
  padding: 0 5px;
  margin-left: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
#greet {
  text-align: center;
  border: 1px solid transparent;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 400px;
  height: 200px;
  margin: 50px auto;
  margin-bottom: 20px;
}
p {
  margin: 50px 0 30px 0;
}
.justify {
  display: flex;
  justify-content: space-between;
  margin: 2px 0;
}
.pk {
  display: block;
  margin: 5px 0;
}
.feature {
  width: 750px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
}
.features {
  margin-right: 20px;
  margin-bottom: 30px;
}
.kpk {
  margin-top: 20px;
  font-weight: bold;
  /* margin-right: 30px; */
}
.kpk span {
  display: inline-block;
  width: 15px;
  height: 15px;
}
.charts_field {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  background: #fff;
  margin-bottom: 10px;
  margin-top: 55px;
  padding: 10px;
  padding-left: 15px;
  align-items: flex-end;
  display: flex;
}
.charts {
  border-bottom: 1px solid rgb(71, 71, 71);
  height: 160px;
  align-items: flex-end;
  display: flex;
  margin-top: 30px;
  overflow: hidden;
}
.chart {
  margin: 0 0 0 5px;
  width: 50px;
  transition: height 2s;
}
.legend {
  margin: 7px 0 10px 0;
}
.scale {
  width: 0;
  border-right: 1px solid black;
  height: 169px;
  font-size: 14px;
}
.scale span {
  margin-left: -9px;
}
#chart1 {
  background: red;
}
#chart2 {
  background: green;
}
#chart3 {
  background: blue;
}
#chart4 {
  background: brown;
}
#chart5 {
  background: orange;
}
.mark {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  display: inline-block;
}
.mark1 {
  background: red;
}
.mark2 {
  background: green;
}
.mark3 {
  background: blue;
}
.mark4 {
  background: brown;
}
.mark5 {
  background: orange;
}
.flex-container {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
}
#chartdiv {
  width: 500px;
  height: 300px;
  font-size: 11px;
}
